.error__row {
    display: flex;
    align-items: center;
    width: 500px;
    padding: 120px 0;
    margin: 0 auto
}

@media screen and (max-width: 768px) {
    .error__row {
        flex-direction:column;
        justify-content: center;
        width: 100%
    }
}

.error__col-1 {
    flex: 0 0 150px;
    margin-right: 40px
}

@media screen and (max-width: 768px) {
    .error__col-1 {
        flex:0 1 auto;
        margin: 0 0 40px
    }
}

.error__figure {
    margin-bottom: 0
}

@media screen and (max-width: 768px) {
    .error__figure {
        width:150px;
        margin: 0 auto
    }
}

.error__heading {
    margin-bottom: 16px;
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pro B,sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 160%;
    color: red;
    letter-spacing: .05em
}

@media screen and (max-width: 768px) {
    .error__heading {
        font-size:28px;
        text-align: center
    }
}

.error__text {
    color: red
}

*,:after,:before {
    box-sizing: border-box
}

body {
    padding-top: 81px;
    overflow-x: hidden;
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pr5 D,sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 170%;
    color: #000;
    letter-spacing: .03em
}

@media screen and (max-width: 768px) {
    body {
        padding-top:56px
    }
}

a {
    text-decoration: none;
    transition: opacity .3s ease
}

a:hover {
    opacity: .3
}

p {
    margin-bottom: 27px;
    text-align: justify;
    text-justify: inter-ideograph
}

figure {
    margin-bottom: 40px
}

figure img {
    display: block;
    width: 100%
}

figure figcaption {
    margin-top: 8px;
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pr5 R,sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 170%;
    color: #000;
    text-align: right;
    letter-spacing: .03em
}

@media screen and (max-width: 768px) {
    .pc-only {
        display:none
    }
}

.sp-only {
    display: none
}

@media screen and (max-width: 768px) {
    .sp-only {
        display:block
    }
}

.container {
    max-width: 988px;
    padding: 0 16px;
    margin: 0 auto
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px 40px
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction:column;
        margin: 0 0 40px
    }
}

.col {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 40px
}

@media screen and (max-width: 768px) {
    .col {
        width:100%;
        padding: 0
    }
}

.col:last-child,.col:nth-child(odd):nth-last-child(2) {
    margin-bottom: 0
}

@media screen and (max-width: 768px) {
    .col:nth-child(odd):nth-last-child(2) {
        margin-bottom:40px
    }
}

.section-s {
    margin-bottom: 40px
}

.section-s :last-child {
    margin-bottom: 0
}

.section-m {
    margin-bottom: 80px
}

.section-m :last-child {
    margin-bottom: 0
}

.section-l {
    margin-bottom: 100px
}

@media screen and (max-width: 768px) {
    .section-l {
        margin-bottom:80px
    }
}

.section-l :last-child {
    margin-bottom: 0
}

.file-link {
    list-style: none
}

.file-link li {
    font-size: 16px;
    line-height: 170%;
    color: #666;
    letter-spacing: .03em
}

.file-link li:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: -6px;
    content: "";
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5IDMuNXYxOEg1VjcuMjcxbDQuMDQxLTMuNzYyVjMuNUgxOXptLTEuNjA1IDEuNTAzaC02LjczOXYzLjc3MWgtNC4wNXYxMS4yMzJoMTAuNzhWNS4wMDNoLjAwOXoiIGZpbGw9InJlZCIvPjwvc3ZnPg==) 50%/100% 100% no-repeat
}

.file-link li a {
    display: inline-block;
    margin-right: 4px;
    color: red
}

.frame {
    padding: 40px;
    border: 1px solid #d6d6d6
}

@media screen and (max-width: 768px) {
    .frame {
        padding:16px
    }
}

.frame__row {
    display: flex;
    margin: 0 -20px
}

@media screen and (max-width: 768px) {
    .frame__row {
        flex-direction:column;
        margin: 0
    }
}

.frame__col {
    width: 50%;
    padding: 0 20px
}

@media screen and (max-width: 768px) {
    .frame__col {
        width:100%;
        padding: 0;
        margin-bottom: 16px
    }
}

.heading-1 {
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pro B,sans-serif;
    font-size: 38px;
    font-style: normal;
    line-height: 150%;
    color: #000;
    letter-spacing: .05em
}

@media screen and (max-width: 768px) {
    .heading-1 {
        margin-bottom:24px;
        font-size: 32px
    }
}

.heading-1--center {
    text-align: center
}

.heading-1--mb32 {
    margin-bottom: 32px
}

.heading-1--mb40 {
    margin-bottom: 40px
}

.heading-1--momofuku {
    position: relative
}

@media screen and (max-width: 768px) {
    .heading-1--momofuku {
        padding-top:174px
    }
}

.heading-1--momofuku:after {
    position: absolute;
    right: -30px;
    bottom: 0;
    display: block;
    width: 231px;
    height: 177px;
    content: "";
    background: url(/_nuxt/img/momofuku.10dc9b3.svg) 50%/100% 100% no-repeat
}

@media screen and (max-width: 768px) {
    .heading-1--momofuku:after {
        top:0;
        right: auto;
        left: calc(50% + 50px);
        width: 207px;
        height: 158px;
        transform: translate(-50%)
    }
}

.heading-1__small {
    display: block;
    font-size: 22px
}

.heading-1__small,.heading-2 {
    font-style: normal;
    line-height: 160%;
    letter-spacing: .05em
}

.heading-2 {
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pro B,sans-serif;
    font-size: 30px;
    color: #000
}

@media screen and (max-width: 768px) {
    .heading-2 {
        font-size:28px
    }
}

.heading-2__sub-title {
    display: block
}

.heading-2__note,.heading-2__sub-title {
    font-size: 16px;
    font-style: normal;
    line-height: 170%;
    letter-spacing: .03em
}

.heading-2__note {
    display: inline-block
}

.heading-2__after-title {
    display: block
}

.heading-2--center {
    text-align: center
}

.heading-2--mb16 {
    margin-bottom: 16px
}

@media screen and (max-width: 768px) {
    .heading-2--mb16 {
        margin-bottom:16px
    }
}

.heading-2--mb24 {
    margin-bottom: 24px
}

@media screen and (max-width: 768px) {
    .heading-2--mb24 {
        margin-bottom:24px
    }
}

.heading-2--mb32,.heading-2--mb40 {
    margin-bottom: 32px
}

.heading-3 {
    margin-bottom: 24px;
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pro B,sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: 160%;
    color: #000;
    letter-spacing: .05em
}

@media screen and (max-width: 768px) {
    .heading-3 {
        font-size:20px
    }
}

.heading-3--mb16 {
    margin-bottom: 16px
}

@media screen and (max-width: 768px) {
    .heading-3--mb16 {
        margin-bottom:16px
    }
}

.unordered {
    margin-bottom: 40px
}

.unordered__list {
    padding-left: 1.5em
}

.unordered__list li {
    margin-bottom: 8px
}

.definition {
    margin-bottom: 40px
}

.definition :last-child {
    margin-bottom: 0
}

.definition__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 8px
}

@media screen and (max-width: 768px) {
    .definition__list {
        flex-direction:column
    }
}

.definition__list dt {
    width: 115px;
    margin-right: 16px
}

@media screen and (max-width: 768px) {
    .definition__list dt {
        width:100%;
        margin-right: 0
    }
}

.definition__list dd {
    width: calc(100% - 131px)
}

@media screen and (max-width: 768px) {
    .definition__list dd {
        width:100%
    }
}

.definition__list:last-child,.number {
    margin-bottom: 40px
}

.number__list {
    margin-left: 2.5em;
    list-style: none
}

.number__list li {
    margin-bottom: 8px;
    counter-increment: cnt
}

.number__list li:before {
    display: inline-block;
    width: 2.5em;
    margin-left: -2.5em;
    content: "(" counter(cnt) ")"
}

.note__title {
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pr5 D,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: #000;
    letter-spacing: .03em
}

.note__number-list {
    padding-left: 1em
}

.note__number-list li {
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pr5 D,sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 170%;
    color: #000;
    letter-spacing: .03em
}

.note__number-list li a {
    display: inline-block;
    color: red
}

.note__text {
    margin-bottom: 23px;
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pr5 D,sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 170%;
    color: #000;
    letter-spacing: .03em
}

.table {
    width: 100%;
    margin-bottom: 32px;
    border-spacing: 0;
    border-collapse: collapse
}

.table tr td,.table tr th {
    width: 25%;
    padding: 18px 8px;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    border: 1px solid #d6d6d6
}

.table tr th {
    background-color: #eee
}

.table-3 {
    width: 100%;
    margin-bottom: 32px;
    border-spacing: 0;
    border-collapse: collapse
}

.table-3 tr td,.table-3 tr th {
    padding: 18px 8px;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    border: 1px solid #d6d6d6
}

.table-3 tr th {
    width: 25%;
    background-color: #eee
}

.table-3 tr td {
    width: 75%
}

.table-2 {
    width: 100%;
    margin-bottom: 32px;
    border-spacing: 0;
    border-collapse: collapse
}

.table-2 tr td,.table-2 tr th {
    padding: 18px 8px;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    border: 1px solid #d6d6d6
}

.table-2 tr th {
    width: 25%;
    background-color: #eee
}

.table-2 tr td {
    width: 37.5%
}

.table-2 tr td span {
    font-family: æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“,YuGothic,æ¸¸ã‚´ã‚·ãƒƒã‚¯ Medium,Yu Gothic Medium,æ¸¸ã‚´ã‚·ãƒƒã‚¯,Yu Gothic,sans-serif
}

.table-2--left tr td {
    text-align: left
}

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 27px 0;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6
}

@media screen and (max-width: 768px) {
    .header {
        padding:0
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 988px;
    padding: 0 16px;
    margin: 0 auto
}

@media screen and (max-width: 768px) {
    .header__container {
        display:block;
        padding: 0
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        position:relative;
        z-index: 5;
        padding: 16px 0;
        background-color: #fff
    }
}

.header__logo a {
    display: block;
    width: 250px;
    height: 27px
}

@media screen and (max-width: 768px) {
    .header__logo a {
        width:223px;
        height: 24px;
        margin: 0 auto
    }
}

.header__button {
    display: none
}

@media screen and (max-width: 768px) {
    .header__button {
        position:fixed;
        top: 16px;
        left: 16px;
        z-index: 5;
        display: block;
        width: 24px;
        height: 24px;
        padding: 5px 3px;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none
    }

    .header__button i {
        position: relative;
        display: block;
        width: 100%;
        height: 100%
    }

    .header__button i:after,.header__button i:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        content: "";
        background-color: red;
        transition: all .3s ease;
        transform-origin: left center
    }

    .header__button i:before {
        top: 0
    }

    .header__button i:after {
        bottom: 0
    }

    .header__button i span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: red;
        transition: all .3s ease;
        transform: translateY(-50%)
    }

    .header__button.active {
        width: 20px
    }

    .header__button.active i:after,.header__button.active i:before {
        width: 17px
    }

    .header__button.active i:before {
        transform: rotate(45deg)
    }

    .header__button.active i:after {
        transform: rotate(-45deg)
    }

    .header__button.active i span {
        opacity: 0
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        position:absolute;
        top: 56px;
        left: 0;
        width: 100%;
        padding-top: 40px;
        background-color: #fff;
        border-top: 1px solid #d6d6d6;
        opacity: 0;
        transition: all .6s ease;
        transform: translateY(-150%)
    }

    .navigation.active {
        opacity: 1;
        transform: translateY(0)
    }
}

.navigation__list {
    display: flex;
    list-style: none
}

@media screen and (max-width: 768px) {
    .navigation__list {
        display:block;
        margin-bottom: 56px
    }
}

.navigation__list li {
    margin-right: 24px;
    font-size: 15px;
    line-height: 100%
}

@media screen and (max-width: 768px) {
    .navigation__list li {
        display:block;
        margin: 0 0 26px;
        text-align: center
    }
}

.navigation__list li:last-child {
    margin: 0
}

.navigation__list li a {
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    line-height: 100%;
    color: #000
}

@media screen and (max-width: 768px) {
    .navigation__list li a {
        font-size:20px;
        line-height: 200%;
        text-align: center;
        letter-spacing: .05em;
        font-feature-settings: "liga" off
    }
}

.navigation__list .is-active a {
    position: relative
}

.navigation__list .is-active a:after {
    position: absolute;
    bottom: -8px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #000
}

@media screen and (max-width: 768px) {
    .navigation__list .is-active a:after {
        bottom:0
    }
}

.navigation__sp-list {
    display: none
}

@media screen and (max-width: 768px) {
    .navigation__sp-list {
        display:block;
        list-style: none
    }

    .navigation__sp-list li {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 190%;
        text-align: center
    }

    .navigation__sp-list li:last-child {
        margin-bottom: 0
    }

    .navigation__sp-list li a {
        font-size: 16px;
        font-style: normal;
        line-height: 190%;
        color: #000;
        text-align: center;
        letter-spacing: .03em
    }
}

.button {
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pro B,sans-serif
}

@media screen and (max-width: 768px) {
    .button {
        text-align:center
    }
}

.button__link {
    display: block;
    width: 292px;
    padding: 25px 0;
    margin: 0 auto;
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pro B,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #fff;
    text-align: center;
    letter-spacing: .03em;
    background-color: red;
    border: 1px solid red
}

@media screen and (max-width: 768px) {
    .button__link {
        display:inline-block;
        width: auto;
        min-width: 163px;
        padding: 17px
    }
}

.footer {
    padding: 24px 0 32px;
    border-top: 1px solid #d6d6d6
}

@media screen and (max-width: 768px) {
    .footer {
        padding:16px 0 48px
    }
}

.footer__list {
    margin-bottom: 16px
}

@media screen and (max-width: 768px) {
    .footer__list {
        display:none
    }
}

.footer__list li {
    display: inline-block;
    font-size: 12px;
    line-height: 150%;
    list-style: none
}

.footer__list li:first-child {
    margin-right: 24px
}

.footer__list li a {
    display: inline-block;
    color: #000
}

.footer__copy,.footer__list li a {
    font-family: FOT-ç­‘ç´«ã‚´ã‚·ãƒƒã‚¯ Pr5 R,sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: .03em
}

.footer__copy {
    margin-bottom: 0
}
