.breadcrumb {
    margin: 24px 0
}

@media screen and (max-width: 768px) {
    .breadcrumb {
        display:none
    }
}

.breadcrumb__list {
    font-size: 12px;
    line-height: 150%;
    list-style: none
}

.breadcrumb__list li {
    display: inline-block
}

.breadcrumb__list li:after {
    display: inline-block;
    margin: 0 .5em;
    font-size: 12px;
    line-height: 150%;
    color: #000;
    letter-spacing: .03em;
    content: "/"
}

.breadcrumb__list li:last-child:after {
    display: none;
    content: none
}

.breadcrumb__list li a,.breadcrumb__list li span {
    display: inline-block;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: .03em
}

.breadcrumb__list li a {
    color: red
}

.sp-breadcrumb {
    display: none
}

@media screen and (max-width: 768px) {
    .sp-breadcrumb {
        display:block;
        margin: 16px 0
    }
}

.sp-breadcrumb__list {
    font-size: 12px;
    line-height: 150%;
    list-style: none
}

.sp-breadcrumb__list li {
    display: inline-block
}

.sp-breadcrumb__list li:after {
    display: inline-block;
    margin: 0 .5em;
    font-size: 12px;
    line-height: 150%;
    color: #000;
    letter-spacing: .03em;
    content: "/"
}

.sp-breadcrumb__list li:last-child:after {
    display: none;
    content: none
}

.sp-breadcrumb__list li a,.sp-breadcrumb__list li span {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: .03em
}

.sp-breadcrumb__list li a {
    color: red
}

.scholarship__text {
    margin-bottom: 16px
}

.scholarship__table {
    width: 100%;
    margin-bottom: 24px;
    border-spacing: 0;
    border-collapse: collapse
}

.scholarship__table tr td,.scholarship__table tr th {
    padding: 20px 16px;
    border: 1px solid #d6d6d6
}

@media screen and (max-width: 768px) {
    .scholarship__table tr td,.scholarship__table tr th {
        display:block;
        margin-top: -1px
    }
}

.scholarship__table tr th {
    width: 250px;
    background-color: #eee
}

@media screen and (max-width: 768px) {
    .scholarship__table tr td,.scholarship__table tr th {
        width:100%
    }
}

.scholarship .file-link li {
    display: inline-block;
    margin-right: 62px
}

@media screen and (max-width: 768px) {
    .scholarship .file-link li {
        display:block;
        margin: 0 0 8px
    }
}

.scholarship .file-link li:last-child {
    margin-bottom: 0
}

.lead {
    font-size: 20px;
    font-style: normal;
    line-height: 170%;
    color: #000;
    letter-spacing: .05em;
    font-feature-settings: "liga" off
}
